* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Admin_login starts*/

#admin_main_section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url("../images/admin_bg.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.centered-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}
.login-form {
  width: 100%;
  background-color: #3d3a3a;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
